.richtext {
  max-width: 66%;
  margin: auto;

}

.paragraph {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  margin-bottom: 40px;
}

.heading1 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.hyperlink {
  color: #4D9684;
  font-family: var(--font-satoshi);
  text-decoration-line: underline;
  font-weight: 700;
  text-transform: capitalize;

}

.heading2 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
}

.heading3 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;

}

.strong {
  color: #000;
  font-family: var(--font-satoshi);
  font-weight: 900;
  line-height: 50px;
}

.em {
  color: #000;
  font-style: italic;
  line-height: 50px;
  margin-bottom: 40px;

}


.hyperlink {
  color: #4D9684;
  font-family: var(--font-satoshi);
  text-decoration-line: underline;
  font-weight: 700;
  text-transform: capitalize;

}

/* listItem {
  color: #000000;
  font-family: var(--font-satoshi);
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;

}

list {
  color: #000000;
  font-family: var(--font-satoshi);
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;

*/