.richtext {
  max-width: 66%;
  margin: auto;

}

.paragraph {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 32px;
  font-style: normal;
  font-weight: 100;
  line-height: 58px;
  margin: 10px 0;
}

.heading1 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  margin: 40px 0;
}

.hyperlink {
  color: #4D9684;
  font-family: var(--font-satoshi);
  text-decoration-line: underline;
  font-weight: 700;
  text-transform: capitalize;

}

.heading2 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

.heading3 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.strong {
  color: #000;
  font-family: var(--font-satoshi);
  font-weight: 900;

}

.em {
  color: #000;
  font-style: italic;

}


.hyperlink {
  color: #4D9684;
  font-family: 'Satoshi';
  text-decoration-line: underline;
  font-weight: 700;
  text-transform: capitalize;

}