/* Revised CSS with improved readability and responsiveness */

.richtext {
  max-width: 90%;
  margin: auto;
}

.paragraph {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

.heading1 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.hyperlink {
  color: #4D9684;
  font-family: var(--font-satoshi);
  text-decoration-line: underline;
  font-weight: 700;
}

.heading2 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}

.heading3 {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
}

.strong {
  color: #000;
  font-family: var(--font-satoshi);
  font-weight: 900;
  line-height: 28px;
}

.em {
  color: #000;
  font-family: var(--font-satoshi);
  font-style: italic;
  line-height: 28px;
  margin-bottom: 20px;
}

.listItem {
  color: #000;
  font-family: var(--font-satoshi);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 0;
}

.list {
  color: #000;
  font-family: var(--font-satoshi);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin: auto;
}

/* Adapt styles for larger screens */
@media (min-width: 768px) {
  .richtext {
    width: 100%;
    max-width: 780px;
  }

  .paragraph, .listItem, .list {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .heading1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .heading2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 30px;
  }

  .heading3 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .strong, .em {
    font-size: 20px;
    line-height: 30px;
  }
}
